# Gradle
.gradle/
/build/
gradle-app.setting
.gradletasknamecache

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
out/

# OS Specific
.DS_Store
Thumbs.db

# Optional: Local properties for development environment
local.properties

# Gradle dependency/lockfile
!gradle/wrapper/gradle-wrapper.jar
